In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("TableF18-2.csv")
df["Modo_Viaje"] = ["Avi√≥n", "Tren", "Bus", "Carro"] * (len(df) // 4)
df = df[df["MODE"] == 1]

In [3]:
cols_rename = {
    "TTME": "Tiempo_Espera",
    "INVC": "Costo_Viaje",
    "INVT": "Tiempo_Viaje",
    "GC": "Costo_Generalizado",
    "HINC": "Ingresos_Hogar",
    "PSIZE ": "Tamano_Grupo"
}
df = df.rename(columns=cols_rename)
df = df[["Modo_Viaje", "Tiempo_Espera", "Costo_Viaje", "Tiempo_Viaje", "Costo_Generalizado", "Ingresos_Hogar", "Tamano_Grupo"]]

In [4]:
df["Tamano_Grupo"].value_counts()

Tamano_Grupo
1    114
2     58
3     20
4     15
5      2
6      1
Name: count, dtype: int64

In [20]:
df.to_csv("modos_viaje.csv", index=False)